<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth and Polls{% endblock %}</title>

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# This display an image as background in the website #}
<style>
      #background{
        background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
        height: 100vh;
        background-repeat: no-repeat;
      }
</style>

</head>
<body>
    <main> {# This uses the same style to every page that extends this base #}
        <div id="background" class="bg-image shadow-2-strong">
            <div class="mask">
                <div class="container d-flex align-items-center align-left h-100">
                    <div class="text-white">
                    {# Here is where the other page content will be insert #}
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
  </main>
</body>
</html>

